* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

section.slide {
    width: 10vh;
    height: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    transition: 1s ease-in-out; /* Efeito de transição suavizado */
}

.slider__content {
    display: flex;
    transition: transform 1s ease-in-out; /* Efeito de transição suavizado */
}

.all {
    display: flex;
    width: 300%; /* Para 3 slides, ajuste conforme o número de slides */
    transition: transform 0.5s ease;
}

.slide__box {
    flex: 0 0 100%;
    height: auto;
    text-align: center;
}

.slide__box img {
    width: 50%;
    height: auto;
    max-height: 60vh;
}

.nav__manual, .nav__auto {
    position: absolute;
    width: 100%;
    margin-top: 33%;
    display: flex;
    justify-content: center;
}

.nav__manual .manual__btn, .nav__auto div {
    border: 1px solid #f76410;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease; /* Efeito de transição suavizado para o hover */
    margin-right: 10px; /* Adiciona 10 pixels de distância entre os botões */
}

.nav__manual .manual__btn:hover {
    background-color: #f76410;
}

input[type="radio"] {
    display: none;
}

#radio1:checked ~ .all {
    transform: translateX(0);
}

#radio2:checked ~ .all {
    transform: translateX(-100%);
}

#radio3:checked ~ .all {
    transform: translateX(-200%);
}

/* Remove a margem do último botão */
.nav__manual .manual__btn:last-child, .nav__auto div:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1020px){

    .slider__content{
        padding-top: 40vh;
    }

}